# 1. Data Description
### 1.1 Read in Data and Preview

In [1]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [3]:
# Read the data
players  <- read_csv("players.csv")
sessions <- read_csv("sessions.csv")

Rows: 196 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, Age
lgl (1): subscribe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 1535 Columns: 5
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (3): hashedEmail, start_time, end_time
dbl (2): original_start_time, original_end_time

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [4]:
# Preview datasets
head(players)
head(sessions)

  experience subscribe
1 Pro         TRUE
2 Veteran     TRUE
3 Veteran    FALSE
4 Amateur     TRUE
5 Regular     TRUE
6 Amateur     TRUE
  hashedEmail                                                      played_hours
1 f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d 30.3
2 f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9  3.8
3 b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28  0.0
4 23fe711e0e3b77f1da7aa221ab1192afe21648d47d2b4fa7a5a659ff443a0eb5  0.7
5 7dc01f10bf20671ecfccdac23812b1b415acd42c2147cb0af4d48fcce2420f3e  0.1
6 f58aad5996a435f16b0284a3b267f973f9af99e7a89bee0430055a44fa92f977  0.0
  name      gender Age
1 Morgan    Male    9
2 Christian Male   17
3 Blake     Male   17
4 Flora     Female 21
5 Kylie     Male   21
6 Adrian    Female 17

  hashedEmail
1 bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431d8aa0c4bf95ccee6bf
2 36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f575d4acc9cf487c4686
3 f8f5477f5a2e53616ae37421b1c660b971192bd8ff77e3398304c7ae42581fdc
4 bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431d8aa0c4bf95ccee6bf
5 36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f575d4acc9cf487c4686
6 bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431d8aa0c4bf95ccee6bf
  start_time       end_time         original_start_time original_end_time
1 30/06/2024 18:12 30/06/2024 18:24 1.71977e+12         1.71977e+12
2 17/06/2024 23:33 17/06/2024 23:46 1.71867e+12         1.71867e+12
3 25/07/2024 17:34 25/07/2024 17:57 1.72193e+12         1.72193e+12
4 25/07/2024 03:22 25/07/2024 03:58 1.72188e+12         1.72188e+12
5 25/05/2024 16:01 25/05/2024 16:12 1.71665e+12         1.71665e+12
6 23/06/2024 15:08 23/06/2024 17:10 1.71916e+12         1.71916e+12

### 1.2 Overview: Number of Observations and Variables

In [5]:
dataset_overview <- tibble(
  dataset        = c("players", "sessions"),
  n_observations = c(nrow(players), nrow(sessions)),
  n_variables    = c(ncol(players), ncol(sessions))
)

dataset_overview

  dataset  n_observations n_variables
1 players   196           7
2 sessions 1535           5

### 1.3 Variable Summaries (players.csv, sessions.csv)

In [12]:
players_var_summary <- tibble(
  variable = c("experience", "subscribe", "hashedEmail",
               "played_hours", "name", "gender", "Age"),
  
  type = c("categorical", "categorical", "character",
           "numeric", "character", "categorical", "numeric"),
  
  description = c(
    "Self reported experience level",
    "YES or NO for subscribed to the game-related newsletter",
    "Hashed email identifier used to link to sessions.csv",
    "Total hours the player has spent on the server",
    "Player's in-game name (may not be unique)",
    "Player gender",
    "Player age in years"
  )
)

players_var_summary

sessions_var_summary <- tibble(
  variable = c("hashedEmail", "start_time", "end_time",
               "original_start_time", "original_end_time"),
  
  type = c("character", "character", "character",
           "numeric", "numeric"),
  
  description = c(
    "Hashed email identifier used to link to players.csv",
    "Session start time as readable string (dd/mm/yyyy HH:MM)",
    "Session end time as readable string",
    "Session start time as system clock value",
    "Session end time as system clock value"
  )
)

sessions_var_summary

  variable     type
1 experience   categorical
2 subscribe    categorical
3 hashedEmail  character
4 played_hours numeric
5 name         character
6 gender       categorical
7 Age          numeric
  description
1 Self reported experience level
2 YES or NO for subscribed to the game-related newsletter
3 Hashed email identifier used to link to sessions.csv
4 Total hours the player has spent on the server
5 Player's in-game name (may not be unique)
6 Player gender
7 Player age in years

  variable            type
1 hashedEmail         character
2 start_time          character
3 end_time            character
4 original_start_time numeric
5 original_end_time   numeric
  description
1 Hashed email identifier used to link to players.csv
2 Session start time as readable string (dd/mm/yyyy HH:MM)
3 Session end time as readable string
4 Session start time as system clock value
5 Session end time as system clock value

### 1.4 Numeric Summary Statistics (2 decimals)

In [19]:
players_numeric_summary <- players |>
  summarise(
    played_hours_mean = round(mean(played_hours, na.rm = TRUE), 2),
    played_hours_sd   = round(sd(played_hours, na.rm = TRUE), 2),
    played_hours_min  = round(min(played_hours, na.rm = TRUE), 2),
    played_hours_max  = round(max(played_hours, na.rm = TRUE), 2),
    Age_mean          = round(mean(Age, na.rm = TRUE), 2),
    Age_sd            = round(sd(Age, na.rm = TRUE), 2),
    Age_min           = round(min(Age, na.rm = TRUE), 2),
    Age_max           = round(max(Age, na.rm = TRUE), 2)
  )

players_numeric_summary

sessions_numeric_summary <- sessions |>
  summarise(
    original_start_time_mean = round(mean(original_start_time, na.rm = TRUE), 2),
    original_start_time_sd   = round(sd(original_start_time, na.rm = TRUE), 2),
    original_start_time_min  = round(min(original_start_time, na.rm = TRUE), 2),
    original_start_time_max  = round(max(original_start_time, na.rm = TRUE), 2),
    original_end_time_mean   = round(mean(original_end_time, na.rm = TRUE), 2),
    original_end_time_sd     = round(sd(original_end_time, na.rm = TRUE), 2),
    original_end_time_min    = round(min(original_end_time, na.rm = TRUE), 2),
    original_end_time_max    = round(max(original_end_time, na.rm = TRUE), 2)
  )

sessions_numeric_summary

  played_hours_mean played_hours_sd played_hours_min played_hours_max Age_mean
1 5.85              28.36           0                223.1            21.14
  Age_sd Age_min Age_max
1 7.39   9       58

  original_start_time_mean original_start_time_sd original_start_time_min
1 1.719201e+12             3557491589             1.7124e+12
  original_start_time_max original_end_time_mean original_end_time_sd
1 1.72733e+12             1.719196e+12           3552813134
  original_end_time_min original_end_time_max
1 1.7124e+12            1.72734e+12

### 1.5 Categorical summaries

In [20]:
# players: experience
players_experience_counts <- players |>
  count(experience)

players_experience_counts

# players: subscribe
players_subscribe_counts <- players |>
  count(subscribe)

players_subscribe_counts

# players: gender
players_gender_counts <- players |>
  count(gender)

players_gender_counts

  experience n
1 Amateur    63
2 Beginner   35
3 Pro        14
4 Regular    36
5 Veteran    48

  subscribe n
1 FALSE      52
2  TRUE     144

  gender            n
1 Agender             2
2 Female             37
3 Male              124
4 Non-binary         15
5 Other               1
6 Prefer not to say  11
7 Two-Spirited        6

### 1.6 Missing values

In [22]:
players_missing <- tibble(
  variable   = c("experience", "subscribe", "hashedEmail",
                 "played_hours", "name", "gender", "Age"),
  n_missing  = c(
    sum(is.na(players$experience)),
    sum(is.na(players$subscribe)),
    sum(is.na(players$hashedEmail)),
    sum(is.na(players$played_hours)),
    sum(is.na(players$name)),
    sum(is.na(players$gender)),
    sum(is.na(players$Age))
  )
)

players_missing

sessions_missing <- tibble(
  variable  = c("hashedEmail", "start_time", "end_time",
                "original_start_time", "original_end_time"),
  n_missing = c(
    sum(is.na(sessions$hashedEmail)),
    sum(is.na(sessions$start_time)),
    sum(is.na(sessions$end_time)),
    sum(is.na(sessions$original_start_time)),
    sum(is.na(sessions$original_end_time))
  )
)

sessions_missing

  variable     n_missing
1 experience   0
2 subscribe    0
3 hashedEmail  0
4 played_hours 0
5 name         0
6 gender       0
7 Age          2

  variable            n_missing
1 hashedEmail         0
2 start_time          0
3 end_time            2
4 original_start_time 0
5 original_end_time   2

### 1.7 Data Quality

#### Uniqueness of hashedEmail in players

In [23]:
players_hashedEmail_uniqueness <- players |>
  summarise(
    n_players          = n(),
    n_unique_hashed_id = length(unique(hashedEmail))
  )

players_hashedEmail_uniqueness

  n_players n_unique_hashed_id
1 196       196

#### Number of players have at least one session

In [24]:
players_with_sessions <- sessions |>
  select(hashedEmail) |>
  distinct() |>
  inner_join(players, by = "hashedEmail") |>
  summarise(n_players_with_sessions = n())

players_with_sessions

  n_players_with_sessions
1 125

# 2. Question Establishment

### Chosen Broad Question: 
Question 1: What player characteristics and behaviours are most predictive of subscribing to a game-related newsletter, and how do these features differ between various player types?

### Chosen Specific Question: 
Can a player’s experience level, age, gender, and total hours played predict whether they subscribe to the newsletter in the players.csv dataset?

### Description
* Response variable: **subscribe** is chosen since its a TRUE/FALSE, categorical variable, it is available for prediction using classification algorithms
* Explanatory variables:
    * **experience** (factor: Pro, Veteran, etc.)
    * **played_hours** (numeric)
    * **Age** (numeric)
    * **gender** (categorical)
* How data will help answer question:
    * players.csv directly provides all predictors.
    * No merging is needed, unless more specific description is wanted e.g., number of sessions
    * subscribe is cleanly provided as a catagorical variable with only 2 classes
* Wrangling needed:
    * Convert categorical variables (experience, gender) to factors
    * Check for missing values (NA or ####) in all predictors
    * Possibly normalize played_hours
    * Result in a tidy tibble by removing redundent or duplicate columns (hashedEmail)
* Predictive method:
    * Works with k-NN classification